pytorch-lightning==1.7.7
torchmetrics==0.9.3
scipy==1.5.4
numpy==1.21.5
pytorch-fid==0.2.0
pandas==1.1.5
lpips==0.1.4
lmdb==1.2.1
tqdm==4.62.3
ftfy==6.1.1
regex==2022.7.25
matplotlib==3.5.3
opencv-python==4.8.0.76
jupyterlab==4.3.*
ipywidgets==8.1.*
